<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gy.automatic.mapper.PdfInfoMapper" >
  <resultMap id="BaseResultMap" type="com.gy.automatic.model.PdfInfo" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="pdf_address" property="pdfAddress" jdbcType="VARCHAR" />
    <result column="picture_address" property="pictureAddress" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
  </resultMap>
  
   <sql id="Base_Column_List">
    id, title, pdf_address, picture_address, type
  </sql>
  
  <select id="selectDownloadListByType" parameterType="java.lang.String" resultMap="BaseResultMap">
  	select 
  	<include refid="Base_Column_List"/> 
  	from pdf_info
  	where type = #{type,jdbcType=VARCHAR}
  </select>
</mapper>