<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gy.automatic.mapper.ProductMapper">
  <resultMap id="BaseResultMap" type="com.gy.automatic.model.Product">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="product_name" jdbcType="VARCHAR" property="productName" />
    <result column="category_id" jdbcType="INTEGER" property="categoryId" />
    <result column="overview" jdbcType="VARCHAR" property="overview" />
    <result column="core_parameter" jdbcType="VARCHAR" property="coreParameter" />
    <result column="image_address" jdbcType="VARCHAR" property="imageAddress" />
  </resultMap>
</mapper>